body
{
    margin-top:100px;
}

.panel-main-h
{
    color:white;
    font-size:25px;
}

.panel-main-b
{
    font-size:17px;
}

.new-comment-area
{
    background:#F2F2F2;
}

.pull-right
{
    margin-right:10px !important;
}

.close-topic-btn
{
    margin-top:6px;
}

.search-btn
{
    width:100%;
    font-weight:bold;
}