<!DOCTYPE html>
<html>
<head>    
    <meta charset="utf-8">

    <title>SmartNinja Forum - {% block title %}{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- Style files -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-markdown.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- OG Facebook -->
    <meta property="og:url" content="http://forum.smartninja.org/" />
    <meta property="og:type" content="article" />
    {% block meta %}
    <meta property="og:title" content="SmartNinja Forum" />
    {% endblock meta %}
    <meta property="og:description" content="Forum za udeležence SmartNinja tečajev. Tukaj lahko postavljate vprašanja, objavljate svoje domače naloge, pomagate ostalim, delite zanimive vsebine in še kaj." />
    <meta property="og:image" content="http://smartninja.org/assets/img/public/smartninja_logo.png" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/apple-icon-144x144.png">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SmartNinja Forum</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            {% if username %}
            <!--<li><a href="/new-topic">Nova objava</a></li>-->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ username }}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/edit-user ">Nastavitve</a></li>
                    {% if admin %}
                    <li><a href="/add-instructor">Dodaj inštruktorja</a></li>
                    {% endif %}
                    <li><a href="{{ logout }}">Odjava</a></li>
                </ul>
            </li>

            {% else %}
              <li><a href="{{ login }}">Prijava</a></li>

              {% endif %}
            <li><a href="/search">Iskanje</a></li>
            <li><a href="http://smartninja.org/" target="_blank">SmartNinja.org</a></li>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h1 class="panel-title">Nov SmartNinja forum!</h1>
            </div>
            <div class="panel-body">
                Obveščamo te, da je v uporabi nova verzija SmartNinja foruma.
                <br>
                <br>
                <a href="https://groups.google.com/forum/#!forum/smartninja-slovenia" class="btn btn-danger center">Pojdi na nov SmartNinja forum</a>
            </div>
        </div>
    {% block content %}
    {% endblock content %}
    </div>

    <!-- Script files -->
    <script src="/assets/js/jquery-2.1.3.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap-markdown.js"></script>
    <script src="/assets/js/bootstrap-markdown.sl.js"></script>
    <script src="/assets/js/markdown.js"></script>
    <script src="/assets/js/to-markdown.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/tags.js"></script>
</body>
</html>