{% extends "base.html" %}
{% block title %} Main {% endblock title %}

{% block content %}
    <h2>SmartNinja Community forum</h2>

    <p>Forum za udeležence SmartNinja tečajev. Tukaj lahko postavljate vprašanja, objavljate svoje domače naloge, pomagate ostalim, delite zanimive vsebine in še kaj :)</p>

    <br>

    <p><strong>Topic filter po inštruktorjih</strong></p>
    <p>
        <a href="/search?query=Ziga+Besal">Žiga Besal</a>,
        <a href="/search?query=Jure+Doler">Jure Doler</a>,
        <a href="/search?query=Gregor+Gresak">Gregor Grešak</a>,
        <a href="/search?query=Matej+Ramuta">Matej Ramuta</a>,
        <a href="/search?query=Miha+Susnik">Miha Sušnik</a>,
        <a href="/search?query=Janko+Tomsic">Janko Tomšič</a>
    </p>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Topics</h3>
                </div>
                {% if topics %}
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th width="25%">Title</th>
                            <th class="text-center">Started on</th>
                            <th class="text-center">Started by</th>
                            <th class="text-center">Latest comment on</th>
                            <th class="text-center">Latest comment by</th>
                            <th class="text-right">Edit</th>
                        </tr>
                        {% for topic in topics %}
                        <tr>
                            <td><a href="/topic/{{ topic.key.id() }}">{{ topic.title }}</a>{% if topic.closed %} <span class="label label-default">Closed</span>{% endif %} <span class="glyphicon glyphicon-comment"></span> {{ topic.num_comments }}</td>
                            <td class="text-center">{{ topic.get_datetime(topic.created).strftime('%d.%m.%Y at %H:%M') }}</td>
                            <td class="text-center">{{ topic.author }}</td>
                            <td class="text-center">{% if topic.latest_comment_created2 %}{{ topic.get_datetime(topic.latest_comment_created2).strftime('%d.%m.%Y at %H:%M') }}{% endif %}</td>
                            <td class="text-center">{% if topic.latest_comment_author %}{{ topic.latest_comment_author }}{% endif %}</td>
                            <td class="text-right">
                                {% if admin or topic.author == username %}
                                <div class="btn-group">
                                    {% if topic.closed == False %}
                                    <a href="/close-topic/{{ topic.key.id() }}" class="btn btn-warning btn-xs" title="Close topic"><span class="glyphicon glyphicon-lock"></span></a>
                                    {% else %}
                                    <a href="/open-topic/{{ topic.key.id() }}" class="btn btn-success btn-xs" title="Re-open topic"><span class="glyphicon glyphicon-lock"></span></a>
                                    {% endif %}
                                    <a href="/edit-topic/{{ topic.key.id() }}" class="btn btn-primary btn-xs" title="Edit topic"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="/delete-topic/{{ topic.key.id() }}" class="btn btn-danger btn-xs" title="Delete topic"><span class="glyphicon glyphicon-remove"></span></a>
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% else %}
                <div class="panel-body text-center">
                    No topics. {% if username %}<a href="/new-topic">Add new one!</a>{% else %}<a href="{{ login }}">Login</a> to add a new one.{% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}