{% extends "base.html" %}
{% block title %} Main {% endblock title %}

{% block content %}
    <h2>SmartNinja Community forum</h2>

    <p>Forum za udeležence SmartNinja tečajev. Tukaj lahko postavljate vprašanja, objavljate svoje domače naloge, pomagate ostalim, delite zanimive vsebine in še kaj :)</p>

    <br>

    <p><strong>Topic filter po inštruktorjih</strong></p>
    <p>
        <a href="/search?query=Ziga+Besal">Žiga Besal</a>,
        <a href="/search?query=Jure+Doler">Jure Doler</a>,
        <a href="/search?query=Gregor+Gresak">Gregor Grešak</a>,
        <a href="/search?query=Matej+Ramuta">Matej Ramuta</a>,
        <a href="/search?query=Miha+Susnik">Miha Sušnik</a>,
        <a href="/search?query=Janko+Tomsic">Janko Tomšič</a>
        <a href="/search?query=Dal+Rupnik">Dal Rupnik</a>
        <a href="/search?query=Rok+Jaklic">Rok Jaklič</a>
        <a href="/search?query=Tomaz+Bracic">Tomaž Bračič</a>
        <a href="/search?query=Marko+Rizvic">Marko Rizvič</a>
        <a href="/search?query=Ziga+Stopinsek">Žiga Stopinšek</a>
    </p>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Topics</h3>
                </div>
                {% if topics %}
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th width="25%">Title</th>
                            <th class="text-center">Started on</th>
                            <th class="text-center">Started by</th>
                            <th class="text-center">Latest comment on</th>
                            <th class="text-center">Latest comment by</th>
                        </tr>
                        {% for topic in topics %}
                        <tr>
                            <td><a href="/topic/{{ topic.key.id() }}">{{ topic.title }}</a>{% if topic.closed %} <span class="label label-default">Closed</span>{% endif %} <span class="glyphicon glyphicon-comment"></span> {{ topic.num_comments }}</td>
                            <td class="text-center">{{ topic.get_datetime(topic.created).strftime('%d.%m.%Y at %H:%M') }}</td>
                            <td class="text-center">{{ topic.author }}</td>
                            <td class="text-center">{% if topic.latest_comment_created2 %}{{ topic.get_datetime(topic.latest_comment_created2).strftime('%d.%m.%Y at %H:%M') }}{% endif %}</td>
                            <td class="text-center">{% if topic.latest_comment_author %}{{ topic.latest_comment_author }}{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% else %}
                <div class="panel-body text-center">
                    No topics. {% if username %}<a href="/new-topic">Add new one!</a>{% else %}<a href="{{ login }}">Login</a> to add a new one.{% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if next %}
        <ul class="pager">
            <li class="previous"><a href="?page={{next}}"><span aria-hidden="true">&larr;</span> Starejše objave</a></li>
        </ul>
    {% endif %}
{% endblock content %}