{% extends "base.html" %}
{% block title %} New Topic {% endblock title %}

{% block content %}
    {% if username %}
    <form name="new-topic" method="post" id="topic-form">
        <input type="text" name="title" placeholder="Title" class="form-control"><br>
        <textarea name="content" placeholder="Content" class="form-control" rows="6" style="resize:none;"></textarea><br>
        <hr>

        <input class="pull-right btn btn-info" type="submit" id="submit-topic" value="Objavi">
        <div class="input-fields-wrap">
            <a class="btn btn-default" id="add-tag">Add tag</a>
            <input type="hidden" id="allData" name="all-tags">
        </div>
    </form>
    {% endif %}
{% endblock content %}