{% extends "base.html" %}
{% block title %} New Topic {% endblock title %}

{% block content %}
    {% if username %}
    <h1>Dodaj novo temo</h1>

    <form name="new-topic" method="post" id="topic-form">
        <div class="form-group">
            <input type="text" name="title" placeholder="Naslov" class="form-control">
        </div>

        <div class="form-group">
            <textarea name="content" placeholder="Opis" class="form-control markdown" rows="6"></textarea>
        </div>
        <input class="btn btn-primary" type="submit" id="submit-topic" value="Objavi">
        <hr>
        <div class="form-group">
            <select name="instructor" class="form-control">
                <option value>Instructor</option>
                <option value="Gregor Gresak">Gregor Grešak</option>
                <option value="Miha Susnik">Miha Sušnik</option>
                <option value="Janko Tomsic">Janko Tomšič</option>
                <option value="Miha Fabjan">Miha Fabjan</option>
                <option value="Matej Meglic">Matej Meglič</option>
                <option value="Jure Doler">Jure Doler</option>
                <option value="Ziga Besal">Ziga Besal</option>
                <option value="Matej Ramuta">Matej Ramuta</option>
                <option value="Romina Kavcic">Romina Kavčič</option>
            </select>
        </div>
        <div class="input-fields-wrap">
            <p>Dodaj tage za objavo, na primer: programiranje, PHP, Python, HTML, ...</p>
            <a class="btn btn-default" id="add-tag">Dodaj tag</a>
            <input type="hidden" id="allData" name="all-tags">
        </div>
    </form>
    {% endif %}
{% endblock content %}