{% extends "base.html" %}
{% block title %} New Topic {% endblock title %}

{% block content %}
    {% if username %}
    <h1>Dodaj novo temo</h1>

    <form name="new-topic" method="post" id="topic-form">
        <div class="form-group">
            <input type="text" name="title" placeholder="Naslov" class="form-control">
        </div>
        <div class="form-group">
            <textarea name="content" placeholder="Opis" class="form-control markdown" rows="6"></textarea>
        </div>
        <input class="btn btn-primary" type="submit" id="submit-topic" value="Objavi">
        <hr>
        <div class="input-fields-wrap">
            <p>Dodaj tage za objavo, na primer: programiranje, PHP, Python, HTML, ...</p>
            <a class="btn btn-default" id="add-tag">Dodaj tag</a>
            <input type="hidden" id="allData" name="all-tags">
        </div>
    </form>
    {% endif %}
{% endblock content %}