{% extends "base.html" %}
{% block title %} Search {% endblock title %}

{% block content %}

<h1>Iskanje po forumu</h1>

<hr>

<form method="post">
    <div class="row">
        <div class="col-xs-11">
            <div class="form-group">
                <input class="form-control" name="searchbox" value="{{ query }}" placeholder="Iskanje (python, html, css, po inštruktorju...)">
            </div>
        </div>
        <div class="col-xs-1">
            <input type="submit" value="Išči" class="btn btn-info search-btn visible-lg visible-md">
        </div>
    </div>
</form>

<hr>

{% if topics %}
            <table class="table table-bordered">
                <tr>
                    <th width="25%">Title</th>
                    <th class="text-center"># of comments</th>
                    <th class="text-center">Started on</th>
                    <th class="text-center">Started by</th>
                    <th class="text-center">Latest comment on</th>
                    <th class="text-center">Latest comment by</th>
                    {% if admin %}
                    <th class="text-right">Admin</th>
                    {% endif %}
                </tr>
                {% for topic in topics %}
                <tr>
                    <td><a href="/topic/{{ topic.key.id() }}">{{ topic.title }} {% if topic.closed %} <span class="label label-default">Closed</span> {% endif %}</a></td>
                    <td class="text-center"><span class="glyphicon glyphicon-comment"></span> {{ topic.num_comments }} comments</td>
                    <td class="text-center">{{ topic.get_datetime(topic.created).strftime('%d.%m.%Y at %H:%M') }}</td>
                    <td class="text-center">{{ topic.author }}</td>
                    <td class="text-center">{% if topic.latest_comment_created2 %}{{ topic.get_datetime(topic.latest_comment_created2).strftime('%d.%m.%Y at %H:%M') }}{% endif %}</td>
                    <td class="text-center">{% if topic.latest_comment_author %}{{ topic.latest_comment_author }}{% endif %}</td>
                    {% if admin or topic.author == username %}
                    <td class="text-right">
                        <a href="/edit-topic/{{ topic.key.id() }}" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                        <a href="/delete-topic/{{ topic.key.id() }}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
{% endif %}
{% endblock content %}