{% extends "base.html" %}
{% block title %} {{ topic.title }} {% endblock title %}

{% block content %}
    <div class="panel panel-success">
        <div class="panel-heading panel-main-h">{{ topic.title }}
            {% if admin and topic.closed==False %}
            <a href="/close-topic/{{ topic.key.id() }}" class="btn btn-warning btn-xs pull-right" title="Close topic"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}</div>
        <div class="panel-body panel-main-b">
            {{ topic.content|markdown }}
            <br>
            - {{ topic.author }}
        </div>
    </div>

    {% for comment in comments %}
    <div id="{{ comment.key.id() }}" class="panel panel-info">
        <div class="panel-heading">
            {% if admin or comment.author == username %}
            <div class="btn-group pull-right">
                <a href="/edit-comment/{{ comment.key.id() }}" class="btn btn-warning btn-xs" title="Edit comment"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="/delete-comment/{{ comment.key.id() }}" class="btn btn-danger btn-xs" title="Delete comment"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
            {% endif %}
            <a href="/topic/{{ topic.key.id()}}#{{ comment.key.id() }}">Posted by <strong>{{ comment.author }}</strong> ({{ comment.get_datetime(comment.created).strftime('%d.%m.%Y at %H:%M') }})</a>
        </div>
        <div class="panel-body">
            {{ comment.content|markdown }}
        </div>
    </div>
    {% endfor %}

    {% if topic.closed %}
        <h3>Komentiranje onemogočeno</h3>
    {% else %}
        {% if username %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Add new comment</h3>
            </div>
            <div class="panel-body">
                <form name="new-comment" method="post">
                    <div class="form-group">
                        <textarea name="content" placeholder="Komentiraj" class="form-control markdown" rows="5"></textarea>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Objavi komentar">
                </form>
            </div>
        </div>
        {% else %}
        <hr>
        <h3>Za komentiranje se prijavi</h3>
        {% endif %}
    {% endif %}
{% endblock content %}
