{% extends "base.html" %}
{% block title %} {{ topic.title }} {% endblock title %}

{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading panel-main-h"><a href="/topic/{{ topic.key.id()}}">{{ topic.title }}</a></div>
    <div class="panel-body panel-main-b">
        {{ topic.content|nl2br }}
    </div>
</div>
<div class="new-comment-area">
    <hr>
    <form name="new-comment" method="post">
        <textarea name="content" placeholder="Komentiraj" class="form-control" rows="5" style="resize:none;"></textarea><br>
        <input class="pull-right btn btn-info" type="submit" value="Objavi">
    </form>
    <br>
    <hr>
</div>
    <br>
    {% for comment in comments %}
    <div class="panel panel-info">
    <div class="panel-heading"><a href="/topic/{{ topic.key.id()}}">Posted by {{ comment.author }} ({{ comment.created }})</a></div>
    <div class="panel-body">
        {{ comment.content|nl2br }}
    </div>
</div>
    {% endfor %}

{% endblock content %}
